<?php
/**
 * @var $block \Kowal\ZaufaneOpinieCeneo\Block\Success
 */
?>

<?php

if ($block->isCeneoReferer()) {
    ?>
    <script>
        ceneo_client_email = "<?php echo $block->getEmail(); ?>";
        ceneo_order_id = "<?php echo $block->getIncrementOrderId();?>";
        ceneo_shop_product_ids = "<?php echo $block->getOrderSkus();?>";
        ceneo_work_days_to_send_questionnaire = <?php echo $block->getDaysToRequest(); ?>;
    </script>
    <script src="https://ssl.ceneo.pl/transactions/track/v2/script.js?accountGuid=<?php echo $block->getAccountGuid() ?>"></script>

    <?php
} ?>